html, p, body {
    margin: 0;
    padding: 0; 
    background-color: rgb(255, 255, 255);
  }

.behind {
  height: 100vh;
  width:100%;
  background-image: url("./Images/cancer5.jpg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.login-heading {
  height: 90vh;
  width: 80vh;
  margin-left: 10vh;
  margin-top: 5vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  background-color: rgb(250, 231, 246);
}

.reg-box {
  height: 90vh;
  width: 80vh;
  margin-left: 115vh;
  margin-top: 5vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  background-color: rgb(250, 231, 246);
}

.box1 {
  height: 5vh;
  width: 65vh;
  background-color: rgb(255, 255, 255);
  margin-left: 7vh;
  margin-top: 35vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.box2 {
  height: 5vh;
  width: 65vh;
  background-color: rgb(254, 254, 254);
  margin-left: 7vh;
  margin-top: 50vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.box3 {
  height: 5vh;
  width: 15vh;
  background-color: rgb(254, 195, 253);
  margin-left: 18vh;
  margin-top: 50vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
}
.box4 {
  height: 5vh;
  width: 33vh;
  background-color: rgb(254, 254, 254);
  margin-left: 5vh;
  margin-top: 20vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.name-reg {
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
}
.box5 {
  height: 5vh;
  width: 33vh;
  background-color: rgb(254, 254, 254);
  margin-left: 42vh;
  margin-top: 20vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.surname-reg {
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
}
.box6 {
  height: 5vh;
  width: 33vh;
  background-color: rgb(254, 254, 254);
  margin-left: 5vh;
  margin-top: 30vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.age-reg {
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
}
.box7 {
  height: 5vh;
  width: 33vh;
  background-color: rgb(254, 254, 254);
  margin-left: 42vh;
  margin-top: 30vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.gender-reg {
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
}
.box8 {
  height: 5vh;
  width: 33vh;
  background-color: rgb(254, 254, 254);
  margin-left: 5vh;
  margin-top: 40vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.number-reg {
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
}
.box9 {
  height: 5vh;
  width: 33vh;
  background-color: rgb(254, 254, 254);
  margin-left: 42vh;
  margin-top: 40vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.email-reg {
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
}
.box10 {
  height: 5vh;
  width: 70vh;
  background-color: rgb(254, 254, 254);
  margin-left: 5vh;
  margin-top: 50vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.pass-reg {
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
}
.box11 {
  height: 5vh;
  width: 70vh;
  background-color: rgb(254, 254, 254);
  margin-left: 5vh;
  margin-top: 60vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.conpass-reg {
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
}
.button1 {
  height: 5vh;
  width: 33vh;
  background-color: rgb(255, 255, 255);
  margin-left: 23vh;
  margin-top: 75vh;
  position: absolute;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border-bottom: 2px solid rgb(254, 195, 253);
  font-family: 'Raleway', sans-serif;  

}
.login-link  {
  color: rgb(0, 0, 0);
  margin-top: 80vh;
  margin-left: 27vh;
  position: absolute;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;  
}
.login-link a {
  color: rgb(240, 121, 235);
  font-size: 13px;
  font-family: 'Raleway', sans-serif;  
  margin-left: 1vh;
  border-bottom: 2px solid rgb(254, 195, 253);
}

p4 {
  margin-top: 5vh;
  margin-left: 23vh;
  font-size: 5px;
  color: rgb(239, 152, 152);
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-weight: lighter;
  border-bottom: 2px solid rgb(254, 195, 253);
}
p3 {
  margin-top: 5vh;
  margin-left: 30vh;
  font-size: 5vh;
  color: rgb(0, 0, 0);
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-weight: lighter;
  border-bottom: 2px solid rgb(254, 195, 253);
}
.email-login {
  margin-left: 2vh;
  margin-top: 1vh;
  font-size: 2vh;
  font-family: 'Raleway', sans-serif;  
  position: absolute;
}
.password-login {
  margin-left: 2vh;
  margin-top: 1vh;
  font-size: 2vh;
  font-family: 'Raleway', sans-serif;  
  position: absolute;
}

.search-bar {
  height: 5vh;
  width: 20vh;
  border: 1px solid rgb(228, 188, 238);
  margin-left: 148vh;
  margin-top: -19vh;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  position: absolute;
}

h15 {
  color: rgb(2, 2, 2);
  font-size: 15px;
  font-family: 'Raleway', sans-serif;  
  margin-left: 12vh;
  margin-top: 1.3vh;
  position: absolute;
}

.login {
  margin-left: 170vh;
  margin-top:-19vh;
  color: black;
  position: absolute;
  height: 5vh;
  width: 10vh;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border: 1px solid rgb(228, 188, 238);

}

.login li a{
  color: black;
  list-style-type: none;
  font-size: 15px;
  margin-left: -0.2vh;
}

.login a:hover, a:after {
  height: 20px;
  padding: 10px;
  color: rgb(171, 59, 171);
}

.register {
  margin-left: 187vh;
  margin-top:-19vh;
  color: black;
  position: absolute;
  height: 5vh;
  width: 10vh;
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  border-top-left-radius: 10vh;
  border: 1px solid rgb(228, 188, 238);

}

.register li a{
  color: black;
  list-style-type: none;
  font-size: 15px;
  margin-left: -0.5vh;
}

.register a:hover, a:after {
  height: 20px;
  padding: 10px;
  color: rgb(171, 59, 171);
}

.pro-image {
  height: 18vh;
  width: 18vh;
  border-radius: 5vh;
  float: right;
  margin: 1vh;
  background-image: url("./Images/doc1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

}

.planner-img {
  height: 3vh;
  width: 3vh;
  margin-left: 2vh;
  margin-top: 41vh;
  border-radius: 50%;
  background-image: url("./Images/planner.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.patients-img {
  height: 3vh;
  width: 3vh;
  margin-left: 2vh;
  margin-top: 46vh;
  border-radius: 50%;
  background-image: url("./Images/patients.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.docter-img {
  height: 3vh;
  width: 3vh;
  margin-left: 2vh;
  margin-top: 51vh;
  border-radius: 50%;
  background-image: url("./Images/docter.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.reception-img {
  height: 3vh;
  width: 3vh;
  margin-left: 2vh;
  margin-top: 55.5vh;
  border-radius: 50%;
  background-image: url("./Images/reception.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;  
  margin-top: 9vh;
  margin-left: 145vh;
  float: left;
  font-family: 'Raleway', sans-serif;
  
}

.pictures {
  height: 10vh;
  width: 140vh;
  background-size: cover;
  background-color: rgb(183, 152, 170);
  border-bottom-right-radius: 5vh;
  border-top-right-radius: 5vh;

}

.side-nav {
  height: 140vh;
  width: 20vh;
  background-color: rgb(183, 152, 170);
  position: absolute;
}

.nav a, ul {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;  
  margin-top: 40vh;
  line-height: 5vh;
  font-size: 12px;
}


a {
  line-height: 5vh;
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding-top: 5px;
  margin-left: 2vh;

}

a:hover, a:after {
  height: 20px;
  padding: 10px;
  color: rgb(171, 59, 171);
}

.facebook {
  height: 5vh;
  width: 5vh;
  margin-left: 45%;
  position: absolute;
  background-image: url("./Images/facebook.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vh;
}

.twitter {
  height: 5vh;
  width: 5vh;
  margin-left: 50%;
  position: absolute;
  background-image: url("./Images/twitter.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vh;

}

.instagram {
  height: 5vh;
  width: 5vh;
  margin-left: 55%;
  position: absolute;
  background-image: url("./Images/instagram.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vh;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 35vh;
  margin-left: 25vh;
  font-family: 'Raleway', sans-serif;  
  position: absolute;
  border-bottom: 5px solid rgb(234, 198, 236); 
}



.doc-table {
  width: 175vh;
  background-color: rgb(255, 255, 255);
  margin-left: 25vh;
}

.left {
  height: 10vh;
  width: 25vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;

}


.pat-image {
  height: 6vh;
  width: 6vh;
  background-image: url("./Images/add_user.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-top: 3.1vh;
  position: absolute;
}

p2 {
  color: rgb(0, 0, 0);
  margin-left: 7vh;
  margin-top: 4vh;
  position: absolute;
}

/* DOCTORS*/
h14 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 21vh;
  margin-left: 27vh;
  font-family: 'Raleway', sans-serif;  
  position: absolute;
  border-bottom: 5px solid rgb(234, 198, 236); 
}
h15 {
  color: rgb(0, 0, 0);
  margin-left: 12vh;
  margin-top: -27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
}
h22 {
  color: black;
  margin-left: 31vh;
  margin-top: 27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h16 {
  color: black;
  margin-left: 49vh;
  margin-top: 27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h17 {
  color: rgb(0, 0, 0);
  margin-left: 70vh;
  margin-top: 27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h23 {
  color: rgb(0, 0, 0);
  margin-left: 58vh;
  margin-top: 27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h18 {
  color: black;
  margin-left: 100vh;
  margin-top: 27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h19 {
  color: black;
  margin-left: 125vh;
  margin-top: 27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h20 {
  color: black;
  margin-left: 150vh;
  margin-top: 27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h24 {
  color: black;
  margin-left: 175vh;
  margin-top: 27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h21 {
  color: black;
  margin-left: 195vh;
  margin-top: 27vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
.doc-image {
  height: 6vh;
  width: 6vh;
  background-image: url("./Images/add_user.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-left: -1vh;
  margin-top: 13vh;
  position: absolute;
}
.doc-name_surname {
  background-color: rgb(255, 255, 255);
  color: aqua;
  margin-left: 6vh;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
  border-bottom: 1px solid rgb(250, 225, 247);
}
.doc-age {
  background-color: rgb(255, 255, 255);
  display: absolute;
  color: aqua;
  margin-left: 25vh;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}
.doc-gender {
  color:rgb(183, 152, 170);
  background-color: rgb(255, 255, 255);
  display: absolute;
  margin-left: 34vh;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}
.doc-email {
  margin-left: 45vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}
.doc-password {
  margin-left: 75vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}
.doc-num {
  margin-left: 100vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}
.doc-id {
  margin-left: 125vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}
.doc-specialisation {
  margin-left: 150vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}
.doc-room {
  margin-left: 170vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}
/* END DOCTORS*/

.logo {
  height: 15vh;
  width: 15vh;
  background-color: white;
  margin-left: 2vh;
  border-radius: 50%;
  position: absolute;
  margin-top: 20vh;
}

p1 {
  color: rgb(0, 0, 0);
  margin-top: 4vh;
  position: absolute;
}
p3 {
  color: rgb(0, 0, 0);
  margin-top: 4vh;
  position: absolute;
}


.pat-rank {
  height: 10vh;
  width: 25vh;
  margin-left: 125vh;
  margin-top: -10vh;
  background-color: rgb(224, 220, 153);
  display: absolute;
}

.pat-head {
  height: 10vh;
  width: 25vh;
  margin-left: 150vh;
  margin-top: -10vh;
  background-color: rgb(255, 246, 126);
  display: absolute;
}

.pat-remove {
  background-image: url("./Images/remove.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;
  width: 5vh;
  margin: 3vh;
  margin-left: 10vh;
  position: absolute;
}

/*PROFILE HEADING*/
h2 {
  font-size: 20px;
  color: black;
  margin-top: -45vh;
  position: absolute;
}

.cal-heading {
  background-color:rgb(224, 186, 224);
  width: 55vh;
  height: 10vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.calendar {
  background-color: rgb(250, 236, 252);
  width: 55vh;
  height: 50vh;
  margin-top: 5vh;;
  margin-left: 25vh;
  position: absolute;
  border-bottom-right-radius: 5vh;
  border-bottom-left-radius: 5vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;

}

.headings {
  width: 100%;
  height: 20vh;
  margin-top: 25vh;
  position: absolute;
  
}

.week {
  color: rgb(2, 2, 2);
  margin-top: 1vh;
  margin-left: -5vh;
  position: absolute;
}

.week li {
  display: inline-block;
  margin: 2.5vh;
}

.sun {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 23vh;
  position: absolute;

}

.sun li {
  margin-left: -24.5vh;
}

.mon {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 31.5vh;
  position: absolute;
}

.mon li {
  margin-left: -24.5vh;
}

.tue {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 31vh;
  position: absolute;
}

.tue li {
  margin-left: -16vh;
}

.wed {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 39vh;
  position: absolute;
}

.wed li {
  margin-left: -16vh;
}

.thu {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 46.5vh;
  position: absolute;
}

.thu li {
  margin-left: -16vh;
}

.fri {
  color: rgb(2, 2, 2);
  margin-top: 10vh;
  margin-left: 53.4vh;
  position: absolute;
}

.fri li {
  margin-left: -16vh;
}

.sat {
  color: rgb(2, 2, 2);
  margin-top: 10vh;
  margin-left: 61vh;
  position: absolute;
}

.sat li {
  margin-left: -16vh;
}

.left-arrow {
  background-image: url("./Images/left-arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;
  width: 5vh;
  margin-top: 2vh;
  margin-left: 45vh;
  position: absolute;
}

.right-arrow {
  background-image: url("./Images/right-arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;
  width: 5vh;
  margin-top: 2vh;
  margin-left: 35vh;
  position: absolute;
}

h11 {
  color: white;
  font-family: 'Raleway', sans-serif;  
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: 3vh;
  position: absolute;
}

h12 {
  color: white;
  font-family: 'Raleway', sans-serif;  
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: 3vh;
  position: absolute;
}

h4 {
  color: black;
  margin-left: 25vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  
}

h5 {
  color: rgb(0, 0, 0);
  margin-left: 50vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
}



h6 {
  color: black;
  margin-left: 75vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
}

h7 {
  color: rgb(0, 0, 0);
  margin-left: 100vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h8 {
  color: black;
  margin-left: 125vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}
h9 {
  color: black;
  margin-left: 150vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}


h10 {
  color: black;
  margin-left: 175vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}





.heading {
  background-color:rgb(224, 186, 224);
  width: 40vh;
  height: 10vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.today-appointments {
  width: 40vh;
  height:50vh;
  background-color: rgb(250, 236, 252);
  position: absolute;
  margin-left: 85vh;
  margin-top: 5vh;
  border-bottom-right-radius: 5vh;
  border-bottom-left-radius: 5vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.month-balance {
  width: 40vh;
  height: 23vh;
  background-color: rgb(250, 236, 252);
  position: absolute;
  margin-left: 130vh;
  margin-top: 5vh;
  border-bottom-right-radius: 5vh;
  border-bottom-left-radius: 5vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

h13 {
  color:rgb(97, 66, 102);
  font-family: 'Raleway', sans-serif;  
  font-size: 10vh;
  margin-top: 37vh;
  margin-left: 15vh;
  position: absolute
}

.client-app1 {
  color: rgb(2, 2, 2);
  margin-top: 12vh;
  margin-left: 2vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  width: 33vh;
}

.client-app1 li {
  margin-left: -4vh;
  display: inline-block;
  margin-right: 7vh;
}

.client-app2 {
  color: rgb(2, 2, 2);
  margin-top: 18vh;
  margin-left: 2vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  width: 33vh;
}

.client-app2 li {
  margin-left: -4vh;
  display: inline-block;
  margin-right: 7vh;
}

.client-app3 {
  color: rgb(2, 2, 2);
  margin-top: 24vh;
  margin-left: 2vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  width: 33vh;
}

.client-app3 li {
  margin-left: -4vh;
  display: inline-block;
  margin-right: 7vh;
}

.client-app4 {
  color: rgb(2, 2, 2);
  margin-top: 30vh;
  margin-left: 2vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  width: 33vh;
}

.client-app4 li {
  margin-left: -4vh;
  display: inline-block;
  margin-right: 7vh;
}

.footer {
  margin-top: 135vh;
  height: 10vh;
  width: 100%;
  position: absolute;
  background-color: rgb(247, 213, 232);
}