html, p, body {
    margin: 0;
    padding: 0; 
    background-color: rgb(255, 255, 255);
  }

.pro-image {
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  float: right;
  margin: 1vh;
  background-image: url("./Images/doc1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

}

.planner-img {
  height: 3vh;
  width: 3vh;
  margin-left: 2vh;
  margin-top: 41vh;
  border-radius: 50%;
  background-image: url("./Images/planner.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.patients-img {
  height: 3vh;
  width: 3vh;
  margin-left: 2vh;
  margin-top: 46vh;
  border-radius: 50%;
  background-image: url("./Images/patients.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.docter-img {
  height: 3vh;
  width: 3vh;
  margin-left: 2vh;
  margin-top: 51vh;
  border-radius: 50%;
  background-image: url("./Images/docter.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.reception-img {
  height: 3vh;
  width: 3vh;
  margin-left: 2vh;
  margin-top: 55.5vh;
  border-radius: 50%;
  background-image: url("./Images/reception.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  margin-top: 9vh;
  margin-left: 145vh;
  float: left;
  font-family: 'Raleway', sans-serif;
  
}

.pictures {
  height: 20vh;
  width: 140vh;
  background-size: cover;
  background-color: rgb(183, 152, 170);
  border-bottom-right-radius: 10vh;
  border-top-right-radius: 10vh;

}

.side-nav {
  height: 140vh;
  width: 20vh;
  background-color: rgb(183, 152, 170);
  position: absolute;
}

.nav a, ul {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;  
  margin-top: 40vh;
  line-height: 5vh;
  font-size: 12px;
}


a {
  line-height: 5vh;
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding-top: 5px;
  margin-left: 2vh;

}

a:hover, a:after {
  height: 20px;
  padding: 10px;
  color: rgb(171, 59, 171);
}

.facebook {
  height: 5vh;
  width: 5vh;
  margin-left: 45%;
  position: absolute;
  background-image: url("./Images/facebook.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vh;
}

.twitter {
  height: 5vh;
  width: 5vh;
  margin-left: 50%;
  position: absolute;
  background-image: url("./Images/twitter.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vh;

}

.instagram {
  height: 5vh;
  width: 5vh;
  margin-left: 55%;
  position: absolute;
  background-image: url("./Images/instagram.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5vh;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 35vh;
  margin-left: 25vh;
  font-family: 'Raleway', sans-serif;  
  position: absolute;
  border-bottom: 5px solid rgb(234, 198, 236); 
}

.doc-table {
  height: 95vh;
  width: 175vh;
  background-color: rgb(148, 74, 74);
  margin-top: 70vh;
  margin-left: 25vh;
}

.left {
  height: 10vh;
  width: 25vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;

}

.doc-image {
  height: 6vh;
  width: 6vh;
  background-image: url("./Images/doc1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-left: 2vh;
  margin-top: 2vh;
  position: absolute;
  
}

.pat-image {
  height: 6vh;
  width: 6vh;
  background-image: url("./Images/add_user.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-top: 3.1vh;
  position: absolute;
}

p2 {
  color: rgb(0, 0, 0);
  margin-left: 7vh;
  margin-top: 4vh;
  position: absolute;
}

.doc-age {
  height: 10vh;
  width: 25vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  margin-left: 25vh;
  margin-top: -10vh;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;

}

p1 {
  color: rgb(0, 0, 0);
  margin-top: 4vh;
  position: absolute;
}

.doc-email {
  height: 10vh;
  width: 25vh;
  margin-left: 50vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  margin-top: -10vh;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}

.doc-password {
  height: 10vh;
  width: 25vh;
  margin-left: 75vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  margin-top: -10vh;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;

}

.doc-num {
  height: 10vh;
  width: 25vh;
  margin-left: 100vh;
  margin-top: -10vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;

}

.logo {
  height: 15vh;
  width: 15vh;
  background-color: white;
  margin-left: 2vh;
  border-radius: 50%;
  position: absolute;
  margin-top: 20vh;
}

.doc-id {
  height: 10vh;
  width: 25vh;
  margin-left: 125vh;
  margin-top: -10vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;

}

.doc-room {
  height: 10vh;
  width: 25vh;
  margin-left: 150vh;
  margin-top: -10vh;
  background-color: rgb(255, 255, 255);
  display: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 12px;
}

.pat-rank {
  height: 10vh;
  width: 25vh;
  margin-left: 125vh;
  margin-top: -10vh;
  background-color: rgb(224, 220, 153);
  display: absolute;
}

.pat-head {
  height: 10vh;
  width: 25vh;
  margin-left: 150vh;
  margin-top: -10vh;
  background-color: rgb(255, 246, 126);
  display: absolute;
}

.pat-remove {
  background-image: url("./Images/remove.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;
  width: 5vh;
  margin: 3vh;
  margin-left: 10vh;
  position: absolute;
}

/*PROFILE HEADING*/
h2 {
  font-size: 20px;
  color: black;
  margin-top: -45vh;
  position: absolute;
}

.cal-heading {
  background-color:rgb(224, 186, 224);
  width: 55vh;
  height: 10vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.calendar {
  background-color: rgb(250, 236, 252);
  width: 55vh;
  height: 50vh;
  margin-top: 5vh;;
  margin-left: 25vh;
  position: absolute;
  border-bottom-right-radius: 5vh;
  border-bottom-left-radius: 5vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;

}

.headings {
  width: 100%;
  height: 20vh;
  margin-top: 25vh;
  position: absolute;
  
}

.week {
  color: rgb(2, 2, 2);
  margin-top: 1vh;
  margin-left: -5vh;
  position: absolute;
}

.week li {
  display: inline-block;
  margin: 2.5vh;
}

.sun {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 23vh;
  position: absolute;

}

.sun li {
  margin-left: -24.5vh;
}

.mon {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 31.5vh;
  position: absolute;
}

.mon li {
  margin-left: -24.5vh;
}

.tue {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 31vh;
  position: absolute;
}

.tue li {
  margin-left: -16vh;
}

.wed {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 39vh;
  position: absolute;
}

.wed li {
  margin-left: -16vh;
}

.thu {
  color: rgb(2, 2, 2);
  margin-top: 15vh;
  margin-left: 46.5vh;
  position: absolute;
}

.thu li {
  margin-left: -16vh;
}

.fri {
  color: rgb(2, 2, 2);
  margin-top: 10vh;
  margin-left: 53.4vh;
  position: absolute;
}

.fri li {
  margin-left: -16vh;
}

.sat {
  color: rgb(2, 2, 2);
  margin-top: 10vh;
  margin-left: 61vh;
  position: absolute;
}

.sat li {
  margin-left: -16vh;
}

.left-arrow {
  background-image: url("./Images/left-arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;
  width: 5vh;
  margin-top: 2vh;
  margin-left: 45vh;
  position: absolute;
}

.right-arrow {
  background-image: url("./Images/right-arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;
  width: 5vh;
  margin-top: 2vh;
  margin-left: 35vh;
  position: absolute;
}

h11 {
  color: white;
  font-family: 'Raleway', sans-serif;  
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: 3vh;
  position: absolute;
}

h12 {
  color: white;
  font-family: 'Raleway', sans-serif;  
  font-size: 3vh;
  margin-top: 3vh;
  margin-left: 3vh;
  position: absolute;
}

h4 {
  color: black;
  margin-left: 25vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  
}

h5 {
  color: rgb(0, 0, 0);
  margin-left: 50vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
}

h6 {
  color: black;
  margin-left: 75vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
}

h7 {
  color: rgb(0, 0, 0);
  margin-left: 100vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}

h8 {
  color: black;
  margin-left: 125vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}

h9 {
  color: black;
  margin-left: 150vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}

h10 {
  color: black;
  margin-left: 175vh;
  margin-top: 42vh;
  position: absolute;
  font-family: 'Raleway', sans-serif;  
  font-size: 15px;
  font-weight: bolder;
}

.heading {
  background-color:rgb(224, 186, 224);
  width: 40vh;
  height: 10vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.today-appointments {
  width: 40vh;
  height:50vh;
  background-color: rgb(250, 236, 252);
  position: absolute;
  margin-left: 85vh;
  margin-top: 5vh;
  border-bottom-right-radius: 5vh;
  border-bottom-left-radius: 5vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.month-balance {
  width: 40vh;
  height: 23vh;
  background-color: rgb(250, 236, 252);
  position: absolute;
  margin-left: 130vh;
  margin-top: 5vh;
  border-bottom-right-radius: 5vh;
  border-bottom-left-radius: 5vh;
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

h13 {
  color:rgb(97, 66, 102);
  font-family: 'Raleway', sans-serif;  
  font-size: 10vh;
  margin-top: 37vh;
  margin-left: 15vh;
  position: absolute
}

.client-app1 {
  color: rgb(2, 2, 2);
  margin-top: 12vh;
  margin-left: 2vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  width: 33vh;
}

.client-app1 li {
  margin-left: -4vh;
  display: inline-block;
  margin-right: 7vh;
}

.client-app2 {
  color: rgb(2, 2, 2);
  margin-top: 18vh;
  margin-left: 2vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  width: 33vh;
}

.client-app2 li {
  margin-left: -4vh;
  display: inline-block;
  margin-right: 7vh;
}

.client-app3 {
  color: rgb(2, 2, 2);
  margin-top: 24vh;
  margin-left: 2vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  width: 33vh;
}

.client-app3 li {
  margin-left: -4vh;
  display: inline-block;
  margin-right: 7vh;
}

.client-app4 {
  color: rgb(2, 2, 2);
  margin-top: 30vh;
  margin-left: 2vh;
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 5vh;
  width: 33vh;
}

.client-app4 li {
  margin-left: -4vh;
  display: inline-block;
  margin-right: 7vh;
}

.footer {
  margin-top: 135vh;
  height: 10vh;
  width: 100%;
  position: absolute;
  background-color: rgb(247, 213, 232);
}